//use @media #{$max1199} {}
$max1460: "all and (max-width: 1460px)";
$max1199: "all and (max-width: 1199px)";
$max991: "all and (max-width: 991px)";
$max767: "all and (max-width: 767px)";
$max575: "all and (max-width: 575px)";
$max400: "all and (max-width: 400px)";