.basic-text {
    font-size: 1rem;
    font-family: $standard-font;
    line-height: 1.5rem;
}

.fancy-text {
    font-family: $fancy-font;
}

.bold-text {
    font-weight: 600;
}

.light-text {
    font-weight: 300;
}