.ingredients {
    background-image: url("../images/bg3.png");
    display: flex;
    justify-content: flex-end;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 4rem 3.5rem;
    }

    &__title {
        color: $white;
        text-align: center;
    }

    &__text {
        color: $white;
        text-align: center;
        padding-bottom: 3.5rem;
    }

    &__image-container {
        display: flex;
        justify-content: space-between;
        justify-self: flex-end;
    }

    &__image {
        width: 27%;
        border: 5px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }
}